
.container {
  margin: 10px auto;
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  font-size: 14px;
  border-bottom: 1px solid #d9d9d9;
  .finished {
    color: #d9d9d9;
    text-decoration: line-through;
  }
}
